.project-view {}

.project-view__panel-wrapper {
  padding-top: 55px;
  padding-bottom: 35px;
  background-color: #e7e7e7;
}

.project-view__panel {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.project-view__link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
  background-color: transparent;
  border: none;

  &:hover .project-view__text,
  &:focus .project-view__text {
    color: #ff8562;
  }
}

.project-view__text {}

.project-view__icon {
  display: block;
  width: 14px;
  height: 14px;

  svg {
    color: #ff8562;
  }
}

.project-view__url-block {
  display: flex;
  align-items: center;
  gap: 5px;
}

.project-view__url-block-icon {
  display: block;
  width: 14px;
  height: 14px;

  svg {
    opacity: .2;
  }
}

.project-view__url-block-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
}

.project-view__url-text {
  color: #999;
  cursor: default;
}

.project-view__url-link {}

.project-view__panel-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;

  @include breakpoint-down(mobile-small) {
    flex-direction: column;
    gap: 20px;
    align-items: start;
    margin-bottom: 30px;
  }
}

.project-view__panel-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoint-down(mobile-small) {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
}

.project-view__project-name {
  // 64 - 32(768)
  font-size: clamp(2rem, 0.6667rem + 2.7778vi, 4rem);
  line-height: 1.3;
  font-weight: 300;
  max-width: 400px;
}

.project-view__pages-list {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.project-view__pages-list-title {
  width: 100%;
  max-width: 1160px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #bbb;
  font-size: 13px;
}