*,
*::before,
*::after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

*:focus {
  outline: none !important;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 360px;
  height: calc(var(--vh, 1vh) * 100);
  color: $primary-400;
  font-size: 16px;
  font-family: $font-main;
  line-height: 1.2;
  font-weight: 400;
  background-color: $primary-100;
  word-break: break-word;
  -webkit-text-size-adjust: none;
  -moz-transition: color $transition-default, background-color $transition-default;
  transition: color $transition-default, background-color $transition-default;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &.scroll-off {
    overflow: hidden;
  }

  &:has(.backdrop.show) {
    overflow: hidden;
  }
}

video {
  height: 100%;
  width: 100%;
}

.no-scroll {
  overflow: hidden !important;
}

a {
  word-break: break-word;
  transition: color $transition-default, background-color $transition-default, border-color $transition-default, opacity $transition-default, visibility $transition-default, box-shadow $transition-default, transform $transition-default, text-decoration-color $transition-default;
}

a,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:not([class]) {
  color: currentColor;
  text-decoration-color: currentColor;
  text-underline-offset: 4px;
  transition: color $transition-default, text-decoration-color $transition-default;

  &:hover,
  &:focus {
    color: currentColor;
    text-decoration-color: transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  word-break: inherit;
  white-space: inherit;
  text-overflow: inherit;
  overflow: inherit;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;

  &[src=''] {
    display: none;
  }
}

video {
  &[src=''] {
    display: none;
  }
}

blockquote {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

svg {
  pointer-events: none;
}

p:empty {
  display: none;
}

.list--unstyled {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

strong {
  font-weight: 600;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  // background-color: rgba(255, 0, 0, 0.2);
}

@include breakpoint-up(mobile-small) {
  .container {
    max-width: 570px;
  }
}

@include breakpoint-up(mobile) {
  .container {
    max-width: 718px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@include breakpoint-up(tablet) {
  .container {
    max-width: 1000px;
  }
}

@include breakpoint-up(small-desktop) {
  .container {
    max-width: 1200px;
  }
}

@include breakpoint-up(desktop) {
  .container {
    max-width: 1510px;
  }
}

@include breakpoint-up(large-desktop) {
  .container {
    max-width: 1710px;
  }
}

.no-scroll {
  overflow: hidden;
}

a {
  color: $black;
  background-color: transparent;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-400;
  }
}