@mixin clearfix {
	content: "";
	line-height: 0;
	display: table;
	clear: both;
}

@mixin breakpoint-up($name, $breakpoints: $breakpoints) {
	$min: breakpoint-min($name, $breakpoints);

	@media (min-width: $min) {
		@content;
	}
}

@mixin breakpoint-down($name, $breakpoints: $breakpoints) {
	$max: breakpoint-max($name, $breakpoints);

	@if $max==767px {

		@media (max-width: $max),
		screen and (max-width: $responsive-ios) and (orientation: landscape) {
			@content;
		}
	}

	@else {
		@media (max-width: $max) {
			@content;
		}
	}
}

@mixin breakpoint-between($lower, $upper, $breakpoints: $breakpoints) {
	$min: breakpoint-min($lower, $breakpoints);
	$max: breakpoint-max($upper, $breakpoints);

	@media (min-width: $min) and (max-width: $max) {
		@content;
	}
}

@mixin underline-effect($parent, $child: null, $padding-left: 0px, $padding-right: 0px) {
	$child-selector: if($child==null, $parent, $child);

	#{$child-selector} {
		background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);
		background-position: left calc(0% + #{$padding-left}) bottom;
		background-repeat: no-repeat;
		background-size: 0% 1px;
		transition: background-size $transition-default;
	}

	@if $child == null {
		#{$parent}:hover,
		#{$parent}:focus {
			background-size: calc(100% - #{$padding-left} - #{$padding-right}) 1px;
		}
	} @else {
		#{$parent}:hover #{$child-selector},
		#{$parent}:focus #{$child-selector} {
			background-size: calc(100% - #{$padding-left} - #{$padding-right}) 1px;
		}
	}
}
