@import "../generic/functions";
@import "../generic/mixins";

$white: #ffffff;
$black: #000000;

$accent-400: #ff8562;
$primary-100: #f0f0f0;
$primary-400: #333333;

$responsive-ios: 812px;

$font-main: "tfutura", sans-serif;
// $font-second: "Bank Gothic", sans-serif;

// Transitions
$transition-duration-default: 0.3s;
$transition-delay-default: 0.3s;
$transition-default: 0.3s ease-in-out;

$breakpoints: (
	mobile-small: 575px,
	mobile: 767px,
	admin-bar: 782px,
	tablet: 1024px,
	small-desktop: 1279px,
	desktop: 1539px,
	large-desktop: 1719px,
);