.backdrop {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top right, rgba(227, 101, 87, .8), rgba(238, 174, 117, .9));
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.popup {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: auto;
  min-width: calc(360px - 1rem);
  padding-top: 20px;
  padding-bottom: 20px;
}